@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: none;
	list-style: none;
	font-family: 'Jost', sans-serif;
}
body{
	background-color: black;
	color: white;
}

nav{
	background-color: black;
	color: white;
	
}
nav .logo{
	float: left;
	color: white;
	font-size: 27px;
	font-weight:600;
	line-height: 70px;
	padding-left: 60px;
	
}
nav::after{
	content: '';
	clear: both;
	display: table;
}
nav ul{
	float: right;
	list-style: none;
	margin-right: 40px;
	position: relative;
}
nav ul li{
	display: inline-block;
	background-color: black;
	margin: 0 5px;
	position: relative;
}
nav ul li a{
	display: block;
	color: white;
	text-decoration: none;
	line-height: 70px;
	font-size: 18px;
    padding: 8px 15px;
}
nav ul li a:hover{
	border-radius: 5px;
	color: cyan;
  box-shadow: 0 0 5px #33ffff,
              0 0 5px #66ffff;
}
nav ul ul{
	position: absolute;
	top: 90px;
	display: none;
	transition: top .3s;
}
nav ul li:hover > ul{
	top: 70px;
	display: block;
}
nav ul ul li{
	position: relative;
	margin: 0px;
	width: 100px;
	float: none;
	display: list-item;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
 nav ul ul li a{
	font-size: 13px;
	line-height: 50px;
 }
 nav ul ul li a:hover{
	color: cyan;
	box-shadow: none;
 }






.search-box input{
    flex: 1;
    position: absolute;
    color: #ffffff;
    font-size: 16px;
    transform: translate(-50%, -50%);
    margin-left:  -40px ;
    background: transparent;
    width: 25px;
    height: 25px;
    padding: 10px;
    border: solid 3px #9a86fd;
    outline: none;
    border-radius: 35px;
    transition: all 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px #9a86fd;
}
.search-box input::placeholder{
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
}
.search-box input:focus::placeholder{
    opacity: 1;
}
.search-box  input:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
                0 6px 20px #ffb870;
}
.search-box input:focus,
.search-box input:not(:placeholder-shown){
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
                0 6px 20px #ffb870;
}
.table{
	display: inline-block;
	position: absolute;
}
.table tabel{
   margin-left: 100px;
}
.table td p{
	color:white;
	width: 100px;
}

.h3{
	color: white;
	width: 500;
}
.Home{
	text-decoration: underline;
}
tr.judul{
	color: white;
}
.table tr .video{
	display: grid;
	left: 50%;
	transform: translate(15%,0);
}
.outer{
	background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
}
.button{
	height: 40px;
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
}
.outer button, .outer span{
position: absolute;
}
.outer button{
	background: #111;
	color: #f2f2f2;
	outline: none;
	border: none;
	font-size: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
}
.button button{
	height: 35px;
	width: 290px;
	border-radius: 50px ;
}
.outer span{
	background: inherit;
}
.button span{
    border-radius: 50px;
}
.outer span:nth-child(1){
	filter: blur(25px);
}
.outer span:nth-child(2){
	filter: blur(50px);
}
.outer{
	animation: rotate 1.5s linear infinite;
}
@keyframes rotate{
	0%{
		filter: hue-rotate(0deg);
	}
	100%{
		filter: hue-rotate(360deg);
	}
}
.kuis{
	margin-left: 70px;
}
.search-box input{
    flex: 1;
    position: absolute;
    color: #ffffff;
    font-size: 16px;
    transform: translate(-50%, -50%);
    margin-left:  100px ;
    background: transparent;
    width: 25px;
    height: 25px;
    padding: 10px;
    border: solid 3px #9a86fd;
    outline: none;
    border-radius: 35px;
    transition: all 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px #9a86fd;
}
.search-box input::placeholder{
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
}
.search-box input:focus::placeholder{
    opacity: 1;
}
.search-box  input:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
                0 6px 20px #ffb870;
}
.search-box input:focus,
.search-box input:not(:placeholder-shown){
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
                0 6px 20px #ffb870;
}

<?php
include "db_conn.php";
$sql = mysqli_query($conn, "SELECT * FROM video  GROUP BY video_category ORDER BY video_category");
while ($category = mysqli_fetch_array($sql)){
?>
<select name="category" id="">
  <option value=""></option>
  <option value="<? echo $category['video_category']?>"><?php echo $category['video_category']?></option>
</select>
<?php
}
?>